<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUPP Attendance Management System</title>
    <!-- CSS -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

    <!-- JS -->
    <script
        src="{{ url_for('static', filename='js/script.js') }}"
        defer
    ></script>
    <script
        src="{{ url_for('static', filename='js/faq.js') }}"
        defer
    ></script>
</head>

<body class="home">
    <header>
        <div class="header-container">
            <img
            src="{{ url_for('static', filename='images/logo1.png') }}"
            alt="AUPP Logo"
            class="logo"
            >            
            <div class="header-text">
                <h1>AUPP Attendance Management System</h1>
            </div>
    
            <div class="header-social-icons">
                <a href="#" class="header-social-icon">
                    <img
                    src="{{ url_for('static', filename='images/facebook.png') }}"
                    alt="Facebook"
                    >
                </a>
                <a href="#" class="header-social-icon">
                    <img
                    src="{{ url_for('static', filename='images/instagram.png') }}"
                    alt="Instagram"
                    >
                </a>
                <a href="#" class="header-social-icon">
                    <img
                    src="{{ url_for('static', filename='images/telegram.png') }}"
                    alt="Telegram"
                    >
                </a>
            </div>
        </div>
    
        <nav class="main-nav">
            <a href="{{ url_for('home') }}" class="active">Home</a>
            <a href="{{ url_for('membership') }}">Membership</a>
            <a href="{{ url_for('register_page') }}">Register</a>
            <a href="{{ url_for('faq') }}">Contact Us</a>
        </nav>
    </header>    
    
    <section class="hero">
        <div class="hero-overlay">
            <h1>Welcome to AUPP Attendance Management System</h1>
            <p><b>Upload your images</b><br>Input your name, student ID, email, and phone number.</p>
            <a
            href="{{ url_for('register_page') }}"
            class="cta-button"
            >Register Now
            </a>        
        </div>
    </section>    

    <main>
        <section>
            <h2>Why We Using Face Recognition?</h2>
            <div class="content">
                <div class="card">
                    <h3>❌ Faking Attendance</h3>
                    <p>Prevents people from faking attendance, student can make mistakes or pretending to be present for others.</p>
                </div>
                
                <div class="card">
                    <h3>👥 Large Lectures</h3>
                    <p> Takes a lot of time and effort to handle manually, voice roll-call becomes impractical in large lectures.</p>
                </div>
                
                <div class="card">
                    <h3>✅ Detect and Recognize</h3>
                    <p> Detect & recognize person at the same time, saves time with automatic attendance marking.</p>
                </div>   
            </div>            
        </section>    
    </main>
    <footer>
    <p>© 2025 AUPP Attendance Management System. All rights reserved.</p>
    </footer>

</body>
</html>